  .selectTask{
 margin: 20px;
  }

  .selectTask input{
    cursor: pointer;
  }

  .task{
    /* display: flex; */
    padding: 15px;
    border: 4px double rgb(255, 255, 255);
    margin: 15px auto;
    width: 70%;
}

.strong{
  float: start
}

.checkBody{
  display: flex;
  align-items: center
}
.taskBackground{
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  background: white;
  width: 100%;
  padding: 20px;

}

.taskContent{
  width: 89%;
  overflow-wrap: break-word;
  word-break: break-all;
  margin-bottom:50px
}

.taskDetails{
  display: flex;
  justify-content: space-between;
}

.textElipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dataFeatures{

  display: flex;
  flex-direction: column;
}

.actionButtons{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  right: 10px;
  gap:4px;

}

.buttonsforXS{
  position: relative;
  right: -9px;
}

@media (max-width:1400px){
  .actionButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    
  }
  .task{
    width: 100%;
    }
}





