.btn {
    background: red;
}

*{
    margin: 5px;
    margin: 0 auto;
}

div{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vh;
   
    justify-content: center;
    
}