body{
  background-color: #f2dadf;
}

.heading{
  background-color: white;
  padding: 30px;
  border-radius: 10%;
}

Container{
  background-color: #f2dadf;
}

.root{

    background-color: #f2dadf;
  
}