body {
  background: #f2dadf;
}

.heading {
  background-color: white;
  padding: 30px;
  border-radius: 10%;
}

Container {
  background: #f2dadf;
}

.root {
  background: #f2dadf;
}

.makeCenter {
  margin: 0 auto;
}

Form h1 {
  font-size: 10vh;
  opacity: 0;
  transform: translateY(100%);
  animation-name: slideUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.welcomeContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

h4 {
  text-align: center;
}

.welcomeModal {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .welcomeModal {
    padding: 10px;
  }

  .form-control {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
  }
}
