@font-face {
    font-family: 'Castoro'; 
    src: url('../Fonts/CastoroTitling-Regular.ttf') 
   
  }
div.fill {
   display: flex;
   justify-content: center;
   margin-top: 20vh;
  }

  h2{
    margin-bottom: 5vh;
    font-family: 'Castoro'
  }

  
  .contactForm {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
   
  }
  
  .textInputs,
  .message {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    max-width: 500px;
  }
  
  .submit {
    padding: 10px;
  
    border: none;
    cursor: pointer;
    max-width: 200px;
  }
  
