  .selectAllReset{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    gap:6px;
    position: fixed;
    bottom:30px;
    right: 50px;
  

  }

  @media (max-width:920px){
    .selectAllReset{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3px;
      background: #F8F9FA;
      width: 100%;
      position: fixed;
      bottom:0;
      right: 0;
      padding:10x;
      
    }

  }